<html>
    <head>
    </head>
	<div>
		<h1>Главная страница</h1>
	</div>
	<div>
		{% for i in test %}	
		{{ i.id }}
		{{ i.create_at }} 
		<a href="zakaz_detail/{{ i.id }}">{{ i.company }} </a>
		{{ i.score }} 
		{{ i.code }} 
		{{ i.name }} 
		{{ i.col }} 
		{{ i.price }} 
		{{ i.price_sel }} 
		{{ i.manager }} 
		{{ i.status }} <br>
		{% endfor %}
	</div>
	<div>
	<form action="zakaz_add">
		<button type="submit">Добавить</button>
	</form>
	</div>
	<div>
	<form action="company_zakaz">
		<button type="submit">Фильтр</button>
	</form>
	</div>
	<div>
	<form action="test">
		<button type="submit">test</button>
	</form>
	</div>
</html>