{% extends 'base.html' %}
{% block zakaz %}
<div class="container-fluid">
	<div class="starter-template">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-9">
		        <form action="">
			        <select name="test_field">
				        <option value="id">id</option>
			    	    <option value="company">компания</option>
				        <option value="price">счет</option>
			        </select>
			        <input type="text" name="search" placeholder="Введите счет">
			        <input type="submit">
		        </form>
             </div>
        </div>
	</div>
	<div class="row">
        <div class="col-lg-12">
            <div class="table-responsive ">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr class="text-center">
                        <th>№ п/п</th>
                        <th>Дата создания</th>
                        <th>Компания</th>
                        <th>Счет</th>
                        <th>Артикул</th>
                        <th>Наименование</th>
                        <th>Кол-во</th>
                        <th>Цена закупки</th>
                        <th>Цена продажи</th>
                        <th>Менеджер</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                {% for i in object_list %}
                    <tr>
		                <td>{{ forloop.counter }}.</td>
		                <td>{{ i.create_at | date:"d.m.Y" }}</td>
                        <td> <a href="zakaz_detail/{{ i.id }}">{{ i.company }} </a></td>
		                <td>{{ i.score }}</td>
		                <td>{{ i.code }}</td>
		                <td>{{ i.name }}</td>
		                <td>{{ i.col }}</td>
		                <td>{{ i.price }}</td>
		                <td>{{ i.price_sel }}</td>
		                <td>{{ i.manager }}</td>
		                <td>{{ i.status }} </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
	</div>
	<div class="col-lg-1">
	<form action="zakaz_add">
		<button class="btn btn-default" type="submit">Добавить</button>
	</form>
	</div>
	<div class="col-lg-1 ">
	<form action="company_zakaz">
		<button class="btn btn-default" type="submit">Фильтр</button>
	</form>
	</div>
</div>
{% endblock %}
